.header{
  background-color: #656565;
  padding: 10px ;
  border-radius: 6px;

  &__inner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__options{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

nav{
  display: flex;
  align-items: center;
  gap:20px;

  a{
    color: #fff;
    text-decoration: none;
  }

}